/* Code tidied up by ScrapBook */
@media only screen and (max-width: 1200px) {
  .metall a { width: 148px; }
}
@media only screen and (max-width: 992px) {
}
@media only screen and (max-width: 768px) {
  .pop_up { width: 300px; margin-left: -150px; }
}
@media only screen and (max-width: 480px) {
  .metall { display: block; }
  .metall a { width: 100%; text-align: center; }
  .metall a img { float: none; }
}
@media only screen and (max-width: 639px) {
}
@media only screen and (max-width: 360px) {
}
@media only screen and (min-width: 320px) {
}
@media only screen and (min-width: 480px) {
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 992px) {
}
@media only screen and (min-width: 1201px) {
}
@media only screen and (max-width: 768px) {
}
