/* Code tidied up by ScrapBook */
* { box-sizing: border-box; margin: 0px; padding: 0px; }
.belkal { background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 7px solid rgb(0, 87, 156); padding: 15px 30px; }
.belkal i { font-size: 55px; color: rgb(0, 87, 156); padding: 20px 0px; }
.search { width: 100%; position: relative; margin-bottom: 10px; }
@media (max-width: 1024px) {
}
@media screen and (max-width: 1024px) {
}
.pop_up { position: absolute; top: 50%; left: 50%; width: 488px; height: 304px; background-color: rgb(255, 255, 255); margin-left: -244px; margin-top: -152px; padding: 30px; }
.pop_up_head { font-weight: 700; font-size: 26px; color: rgb(51, 51, 51); padding-left: 15px; border-left: 5px solid rgb(0, 87, 156); margin-bottom: 19px; }
.pop_up p { font-weight: 400; font-size: 15px; color: rgb(86, 86, 86); }
.pop_up input { border: 1px solid rgb(92, 155, 210); background-color: rgb(255, 255, 255); height: 40px; width: 80%; margin-top: 12px; padding-left: 20px; font-weight: 400; font-size: 15px; }
.pop_up *::-moz-placeholder { color: rgb(92, 155, 210); }
.pop_up :-moz-placeholder { color: rgb(92, 155, 210); }
.pop_up_submit { border-width: medium medium 3px; border-style: none none solid; border-color: currentcolor currentcolor rgb(92, 155, 210); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; outline: medium none; cursor: pointer; height: 40px; background-color: rgb(127, 180, 227); width: 150px; box-shadow: 0px 1px 1px rgba(4, 25, 54, 0.35); text-transform: uppercase; font-weight: 700; font-size: 14px; color: rgb(255, 255, 255); text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.2); margin-top: 12px; }
.pop_up_submit:hover { background-color: rgb(92, 155, 210); border-bottom: 3px solid rgb(64, 126, 181); }
.zoom-gallery { position: relative; z-index: 1; margin-bottom: 10px; }
.metall { display: flex; flex-wrap: wrap; justify-content: space-between; }
.metall div { margin-bottom: 20px; align-items: center; }
.metall a { display: block; width: 185px; text-align: center; text-decoration: none; color: rgb(0, 0, 0); font-size: 16px; background: rgb(240, 248, 255) none repeat scroll 0% 0%; }
.metall a:hover { background: rgb(127, 180, 227) none repeat scroll 0% 0%; }
.metall a img { width: 100%; max-width: 100%; display: block; }
.metall a span { text-align: center; display: block; height: 48px; padding: 5px; }
@media (max-width: 768px) {
  table { display: block; overflow-x: auto; white-space: nowrap; }
}
@media (max-width: 768px) {
}
@media (max-width: 640px) {
}
a { color: rgb(32, 103, 165); }
td.blue { background-color: rgb(79, 129, 189); color: rgb(255, 255, 255); }
.p-title { text-align: center; font-weight: bold; }
@media (max-width: 320px) {
}
.column.contact > span { display: block; }
.price_block_btn { text-align: center; min-height: 100px; background-color: rgb(0, 87, 156); padding: 30px 0px; display: flex; flex-wrap: wrap; justify-content: space-around; }
.price_block_btn .name_pbb, .price_block_btn .price_pbb { font-size: 25px; font-weight: bold; color: rgb(255, 255, 255); line-height: 40px; }
.price_block_btn .price_pbb { font-size: 35px; }
.button.primary.yellow { background-color: rgb(250, 176, 0); margin-top: 20px; color: rgb(51, 51, 51); text-transform: uppercase; width: auto; padding: 0px 35px; font-size: 13px; font-weight: bold; }
.button.primary.yellow:hover { background: rgb(255, 228, 59) none repeat scroll 0% 0%; }
.metall.new-met a { width: 385px; max-width: 100%; }
.metall.new-met a img { height: 250px; }
.prev-second-prods { display: flex; justify-content: space-between; flex-wrap: wrap; }
.prev-second-prods li { width: 350px; max-width: 100%; margin-bottom: 35px; }
.prev-second-prods li p { margin-top: 0px; font-weight: bold; }
.prev-second-prods li p span { display: block; height: 40px; }
.more-btn.button.primary.big.wide { display: block; margin: auto; background-color: rgb(255, 255, 255); color: rgb(0, 87, 156); }
.more-btn.button.primary.big.wide:hover { background-color: rgb(0, 87, 156); color: rgb(255, 255, 255); }
.prev-second-prods li img { height: 200px; margin: auto; display: block; }
.gallery > div:not(:last-child) { margin-right: 10px; }
.gallery div { text-align: center; }
.more-btn.button.primary.big.wide.more-cat-link { width: auto; height: 250px; margin: 25px; white-space: normal; line-height: 30px; font-size: 20px; padding: 75px 15px; text-overflow: initial; }
.more-btn.button.primary.big.wide.more-cat-link span { display: inline-block; vertical-align: middle; }
.more-btn.button.primary.big.wide.more-cat-link span:first-child { width: 190px; }
.arrow-right { border-style: solid; border-color: rgb(0, 87, 156); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-width: 0px 5px 5px 0px; display: inline-block; padding: 15px; transform: rotate(-45deg); }
.more-btn.button.primary.big.wide:hover .arrow-right { border-color: rgb(255, 255, 255); }
.prev-second-prods li:last-child::before { display: none; }
@media (min-width: 992px) {
  .row.row-flex { display: flex; flex-wrap: wrap; }
  .row-flex .iw { display: flex; place-content: center; overflow: hidden; flex-direction: column; align-items: center; }
  .row-flex .iwh { margin: -300px 0px; }
  .row-flex .iw img { max-width: 100%; max-height: 100%; width: auto; height: auto; }
}
